.jumbotron {
  background-color: lightblue;
  margin: auto;
  text-align: center;
  border: 10px solid blue;
  padding: 10px;
  background-image: url(https://github.com/rjashby/vacation-site/blob/main/img/mountain.jpeg);
  box-sizing: border-box;
}

body {
  background-color: lightgray;
}

img {
  width: 50%;
}

.card {
  margin: auto;
  float: left;
  border: 10px solid black;
  padding: 10px;
  box-sizing: border-box;
  background-color: gray;
}

.container {
  background-color: lightgray;
}