.jumbotron {
  background-color: lightblue;
  text-align: center;
  box-sizing: border-box;
  background-image: url(https://media.cntraveler.com/photos/5f84939a5f9755e5951db3f4/master/pass/WhitefishMountainResort-3.jpg);
}